# compiled binaries
backend/zelo-ex.github.io
backend/backend
*.exe

# editor
*.swp
.idea/
.vscode/

# generated static output
frontend/posts/
frontend/posts.json
frontend/tags.json
frontend/about.json
frontend/rss.xml
frontend/assets/

# private things
tmp/
*.sec.org
